<%- include("header") -%>

    <div class="box" id="heading">
        <h1>About</h1>
    </div>

    <div class="box">
        <p>A to-do list website made for the 2023WebDevBootcamp course on Udemy.</p>
    </div>
    

<%- include("footer") -%>