<%- include("partials/header") -%>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">404</h1>
        <p class="lead">
        This blog post does not exist.
        </p>
    </div>
</div>

<%- include("partials/footer") -%>