body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.card {
  text-align: justify;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 100%;
}

footer {
  text-align: right;
  color: midnightblue;
}

img {
  width: 100%;
  margin-right: 50px;
  object-fit: cover;
}

@media (min-width: 700px) {

  div div {
    display: inline-block;
  }

  img {
    width: 300px;
  }

  .card {
    width: 45%;
    text-align: left;
  }

  .left > img {
    float: left;
  }

  .right {
    float: right;
  }

  .right img {
    float: left;
  }

}
